In [1]:
import os
import sys
import pandas as pd
from datetime import date, timedelta

caminho_commons = os.path.join('..', '..', 'ajna_docs', 'commons')
caminho_virasana = os.path.join('..', '..', 'ajna_docs', 'virasana')
sys.path.append(caminho_commons)
sys.path.append('..')
sys.path.append(caminho_virasana)

In [2]:
from bhadrasana.models import engine

2023-08-15 11:22:13,132 ajna         INFO     Configuração de log efetuada

Fazendo log de erros e alertas no arquivo  ..\..\ajna_docs\commons\ajna_commons\flask\error.log
Fazendo log de atividade no arquivo  ..\..\ajna_docs\commons\ajna_commons\flask\access.log

In [3]:
SQL = 'SELECT * FROM dbmercante.ovr_recintos;'
df = pd.read_sql(SQL, engine)
df.head()

,id,nome,descricao,create_date,cod_dte,cod_siscomex,cod_unidade,cod_carga,cnpj
0,10,ECOPORTO SANTOS - TERMINAL 1,None,2020-02-20 11:51:00,10.0,None,0817800,None,None
1,1001,TECON - Terminal de Containeres Salvador,None,2020-11-30 13:09:49,NaN,None,0517800,None,None
2,1002,Clia Grupo TPC,None,2020-11-30 13:09:49,NaN,None,0517800,None,None
3,1003,Clia Empório,None,2020-11-30 13:09:49,NaN,None,0517800,None,None
4,1004,Intermarítima,None,2020-11-30 13:09:49,NaN,None,0517800,None,None

In [105]:
df_cpfs = pd.read_excel('data/motoristas.xlsx')

In [106]:
df_ocorrencias = pd.read_excel('data/motoristas.xlsx', sheet_name='2')

In [107]:
print(len(df_ocorrencias))
df_ocorrencias.head()

669

                              nome                carga classificacao
0   ADAILTON CARLOS ZAMPAR CAMACHO                 soja      CUIDADO
1                   ADAIR DE FARIA         café solúvel      CUIDADO
2  ADEMIR GOMES PEREIRA DOS SANTOS  estrutura contêiner      CUIDADO
3                 ADILSON THEODORO              grafite      CUIDADO
4      ADRIANO CARVALHO DOS SANTOS               boléia      ATENÇÃO

In [108]:
print(len(df_cpfs))
df_cpfs.head()

162

,nome,nome_da_mae,CPF,CNH
0,ROMILDO DE JESUS PAULA,TEREZA ANTONIA TRISTAO DE PAULA,065.498.548-06,02696644549
1,GILVAN ROGERIO DE SOUZA,MARIA DE LOURDES DE SOUZA,019.773.624-60,01378235500
2,ROMILDO DE JESUS PAULA,TEREZA ANTONIA TRISTAO DE PAULA,065.498.548-06,02696644549
3,MOISES BELARMINO DA SILVA,JOSEFA FRUTUOSO DA CUNHA,312.755.148-71,02362786046
4,GABRIEL GRADIZ AFONSO PALMIERI DA CUNHA,CRISTINA GRADIZ AFONSO DA CUNHA,432.470.128-85,06484083109

In [109]:
df_ocorrencias.classificacao.unique()

array(['CUIDADO ', 'ATENÇÃO ', 'sem registro ', 'BANDIDO '], dtype=object)

In [110]:
df_cpfs = df_cpfs.dropna()
print(len(df_cpfs))

98

In [111]:
df_ocorrencias = df_ocorrencias.dropna()
df_ocorrencias = df_ocorrencias[df_ocorrencias.classificacao != 'sem registro ']
print(len(df_ocorrencias))

560

In [126]:
df_merge = df_cpfs.merge(df_ocorrencias, on='nome', how='left')

In [127]:
df_merge

,nome,nome_da_mae,CPF,CNH,carga,classificacao
0,ROMILDO DE JESUS PAULA,TEREZA ANTONIA TRISTAO DE PAULA,065.498.548-06,02696644549,óxido de ferro,ATENÇÃO
1,ROMILDO DE JESUS PAULA,TEREZA ANTONIA TRISTAO DE PAULA,065.498.548-06,02696644549,óxido de ferro,ATENÇÃO
2,GILVAN ROGERIO DE SOUZA,MARIA DE LOURDES DE SOUZA,019.773.624-60,01378235500,óxido de ferro,CUIDADO
3,ROMILDO DE JESUS PAULA,TEREZA ANTONIA TRISTAO DE PAULA,065.498.548-06,02696644549,óxido de ferro,ATENÇÃO
4,ROMILDO DE JESUS PAULA,TEREZA ANTONIA TRISTAO DE PAULA,065.498.548-06,02696644549,óxido de ferro,ATENÇÃO
...,...,...,...,...,...,...
115,RONALDO ALVES DOS SANTOS,DILZA ALVES DOS SANTOS,078.259.418-29,01849448782,boléia,ATENÇÃO
116,RONALDO ALVES DOS SANTOS,DILZA ALVES DOS SANTOS,078.259.418-29,01849448782,boléia,ATENÇÃO
117,THIAGO FELIPE DA SILVA,FRANCISCA TANIA DA SILVA,319.543.988-32,03779058484,boléia,ATENÇÃO
118,THIAGO FELIPE DA SILVA,FRANCISCA TANIA DA SILVA,319.543.988-32,03779058484,boléia,ATENÇÃO
119,THIAGO PAULINO AFONSO,ROSANGELA APARECIDA PAULINO AFONSO,350.015.758-00,03637397302,boléia,CUIDADO

In [128]:
df_merge = df_merge.dropna().drop_duplicates()
df_merge

,nome,nome_da_mae,CPF,CNH,carga,classificacao
0,ROMILDO DE JESUS PAULA,TEREZA ANTONIA TRISTAO DE PAULA,065.498.548-06,02696644549,óxido de ferro,ATENÇÃO
2,GILVAN ROGERIO DE SOUZA,MARIA DE LOURDES DE SOUZA,019.773.624-60,01378235500,óxido de ferro,CUIDADO
5,MOISES BELARMINO DA SILVA,JOSEFA FRUTUOSO DA CUNHA,312.755.148-71,02362786046,café,CUIDADO
6,GABRIEL GRADIZ AFONSO PALMIERI DA CUNHA,CRISTINA GRADIZ AFONSO DA CUNHA,432.470.128-85,06484083109,açúcar,CUIDADO
7,MAURICIO BATISTA SOARES,DIRCE BATISTA SOARES,134.049.088-99,01608118035,levedura e,ATENÇÃO
...,...,...,...,...,...,...
111,ROBERTO DE OLIVEIRA GREGORY,ALZIRA DE OLIVEIRA GREGORY,299.238.658-86,3055098347,sucata,CUIDADO
113,RODRIGO PAULO CASTRO,MARLUCE FIDELIS DE SOUZA CASTRO,388.524.028-96,04318074302,boléia,CUIDADO
115,RONALDO ALVES DOS SANTOS,DILZA ALVES DOS SANTOS,078.259.418-29,01849448782,boléia,ATENÇÃO
117,THIAGO FELIPE DA SILVA,FRANCISCA TANIA DA SILVA,319.543.988-32,03779058484,boléia,ATENÇÃO
119,THIAGO PAULINO AFONSO,ROSANGELA APARECIDA PAULINO AFONSO,350.015.758-00,03637397302,boléia,CUIDADO

In [ ]:
df_merge['carga'] = df_merge.groupby(['nome'])['carga'].transform(lambda x : ' '.join(x))

In [133]:
df_merge = df_merge.drop_duplicates()
df_merge

,nome,nome_da_mae,CPF,CNH,carga,classificacao
0,ROMILDO DE JESUS PAULA,TEREZA ANTONIA TRISTAO DE PAULA,065.498.548-06,02696644549,óxido de ferro,ATENÇÃO
2,GILVAN ROGERIO DE SOUZA,MARIA DE LOURDES DE SOUZA,019.773.624-60,01378235500,óxido de ferro,CUIDADO
5,MOISES BELARMINO DA SILVA,JOSEFA FRUTUOSO DA CUNHA,312.755.148-71,02362786046,café,CUIDADO
6,GABRIEL GRADIZ AFONSO PALMIERI DA CUNHA,CRISTINA GRADIZ AFONSO DA CUNHA,432.470.128-85,06484083109,açúcar,CUIDADO
7,MAURICIO BATISTA SOARES,DIRCE BATISTA SOARES,134.049.088-99,01608118035,levedura e açúcar,ATENÇÃO
...,...,...,...,...,...,...
111,ROBERTO DE OLIVEIRA GREGORY,ALZIRA DE OLIVEIRA GREGORY,299.238.658-86,3055098347,sucata,CUIDADO
113,RODRIGO PAULO CASTRO,MARLUCE FIDELIS DE SOUZA CASTRO,388.524.028-96,04318074302,boléia,CUIDADO
115,RONALDO ALVES DOS SANTOS,DILZA ALVES DOS SANTOS,078.259.418-29,01849448782,boléia,ATENÇÃO
117,THIAGO FELIPE DA SILVA,FRANCISCA TANIA DA SILVA,319.543.988-32,03779058484,boléia,ATENÇÃO
119,THIAGO PAULINO AFONSO,ROSANGELA APARECIDA PAULINO AFONSO,350.015.758-00,03637397302,boléia,CUIDADO

In [132]:
df_merge.nome.value_counts()

THIAGO PAULINO AFONSO              1
RONALDO LUIZ BARROS SOUSA          1
EDUARDO SILVA BASTOS               1
KLEBER CUCO DA SILVA               1
PERICLES SIQUEIRA DOS SANTOS       1
                                  ..
GUSTAVO WILIAN DA COSTA MOURA      1
ROBERTO DE OLIVEIRA GREGORY        1
LUIZ FERNANDES SILVA DOS SANTOS    1
LEVI MENDES MARTINS DA SILVA       1
JOSE RICARDO DA SILVA ROCHA        1
Name: nome, Length: 61, dtype: int64

In [135]:
df_merge

,nome,nome_da_mae,CPF,CNH,carga,classificacao
0,ROMILDO DE JESUS PAULA,TEREZA ANTONIA TRISTAO DE PAULA,065.498.548-06,02696644549,óxido de ferro,ATENÇÃO
2,GILVAN ROGERIO DE SOUZA,MARIA DE LOURDES DE SOUZA,019.773.624-60,01378235500,óxido de ferro,CUIDADO
5,MOISES BELARMINO DA SILVA,JOSEFA FRUTUOSO DA CUNHA,312.755.148-71,02362786046,café,CUIDADO
6,GABRIEL GRADIZ AFONSO PALMIERI DA CUNHA,CRISTINA GRADIZ AFONSO DA CUNHA,432.470.128-85,06484083109,açúcar,CUIDADO
7,MAURICIO BATISTA SOARES,DIRCE BATISTA SOARES,134.049.088-99,01608118035,levedura e açúcar,ATENÇÃO
...,...,...,...,...,...,...
111,ROBERTO DE OLIVEIRA GREGORY,ALZIRA DE OLIVEIRA GREGORY,299.238.658-86,3055098347,sucata,CUIDADO
113,RODRIGO PAULO CASTRO,MARLUCE FIDELIS DE SOUZA CASTRO,388.524.028-96,04318074302,boléia,CUIDADO
115,RONALDO ALVES DOS SANTOS,DILZA ALVES DOS SANTOS,078.259.418-29,01849448782,boléia,ATENÇÃO
117,THIAGO FELIPE DA SILVA,FRANCISCA TANIA DA SILVA,319.543.988-32,03779058484,boléia,ATENÇÃO
119,THIAGO PAULINO AFONSO,ROSANGELA APARECIDA PAULINO AFONSO,350.015.758-00,03637397302,boléia,CUIDADO

In [134]:
df_merge.to_sql('risco_motoristas', engine)

TypeError: to_sql() missing 2 required positional arguments: 'name' and 'con'